In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df = pd.read_csv('D:/Study/DataScience/Data/automobile.csv')

In [5]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [13]:
df['normalized-losses'] = np.where(df['normalized-losses'] == '?', np.NaN, df['normalized-losses'])

In [17]:
df['normalized-losses'] = df['normalized-losses'].astype('float64')

In [20]:
df['normalized-losses'] = df['normalized-losses'].fillna(df['normalized-losses'].mean())

In [21]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [63]:
df['bore'] = df['bore'].astype('float64')
df['stroke'] = df['stroke'].astype('float64')
df['horsepower'] = df['horsepower'].astype('float64')
df['peak-rpm'] = df['peak-rpm'].astype('float64')
df['price'] = df['price'].astype('float64')

In [61]:
df['price'].value_counts()

?        4
7957     2
18150    2
8921     2
7609     2
9279     2
7295     2
5572     2
6229     2
16500    2
13499    2
8495     2
7775     2
8845     2
7898     2
6692     2
15690    1
7129     1
6529     1
9233     1
34184    1
6849     1
11845    1
6338     1
9639     1
9258     1
40960    1
9959     1
8949     1
7689     1
        ..
6855     1
14869    1
13415    1
6295     1
15750    1
7099     1
9895     1
41315    1
8249     1
17075    1
21105    1
15985    1
32528    1
20970    1
13645    1
10198    1
18399    1
5151     1
9988     1
14489    1
8948     1
7395     1
28248    1
8238     1
12440    1
32250    1
6479     1
16558    1
15040    1
10898    1
Name: price, Length: 187, dtype: int64

In [62]:
df['price'] = np.where(df['price'] == '?', np.NaN, df['price'])

In [65]:
df['bore'] = df['bore'].fillna(df['bore'].mean())
df['stroke'] = df['stroke'].fillna(df['stroke'].mean())
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mean())
df['peak-rpm'] = df['peak-rpm'].fillna(df['peak-rpm'].mean())
df['price'] = df['price'].fillna(df['price'].mean())

In [122]:
df_num = df.select_dtypes( include = ['int64', 'float64'])

df_cat = df.select_dtypes( exclude = ['int64', 'float64'])

In [123]:
df_num.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [131]:
df_cat = pd.get_dummies(df_cat)

In [125]:
y = pd.DataFrame(df_num['price'])

In [128]:
df_num = df_num.iloc[:, :-1]

In [132]:
df1 = pd.concat((df_num,df_cat), axis=1)

In [144]:
df_num.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
1,3,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
2,1,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22

In [172]:
x_train, x_test, y_train, y_test = train_test_split(df_num, y, test_size = 0.2, random_state = 0)

In [173]:
cat_train, cat_test = train_test_split(df_cat, test_size = 0.2, random_state = 0)

In [174]:
x_train = sc.fit_transform(x_train)

In [175]:
x_test = sc.fit_transform(x_test)

In [178]:
x1 = pd.concat((pd.DataFrame(x_train), pd.DataFrame(cat_train)), axis= 1)

In [176]:
df_num.shape, x_train.shape, x_test.shape

((205, 15), (164, 15), (41, 15))

In [177]:
df_cat.shape, cat_train.shape, cat_test.shape

((205, 60), (164, 60), (41, 60))

In [179]:
x1.shape

(195, 75)

In [181]:
x1.tail()

,0,1,2,3,4,5,6,7,8,9,...,num-of-cylinders_twelve,num-of-cylinders_two,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0