In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("D:/Study/Data _Science/LinearRegression/LinearRegressionOHE.csv")

df.head()

   R&D_Spend  Administration  Marketing_Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [11]:
#x = df.loc[:, df.columns != 'Profit']

#y = df.loc[:, df.columns == 'Profit']

      Profit
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [13]:
dfle = df.copy()

In [17]:
dfle.State = le.fit_transform(dfle.State)

dfle

    R&D_Spend  Administration  Marketing_Spend  State     Profit
0   165349.20       136897.80        471784.10      2  192261.83
1   162597.70       151377.59        443898.53      0  191792.06
2   153441.51       101145.55        407934.54      1  191050.39
3   144372.41       118671.85        383199.62      2  182901.99
4   142107.34        91391.77        366168.42      1  166187.94
5   131876.90        99814.71        362861.36      2  156991.12
6   134615.46       147198.87        278716.82      0  156122.51
7   130298.13       145530.06        323876.68      1  155752.60
8   120542.52       148718.95        311613.29      2  152211.77
9   123334.88       108679.17        304981.62      0  149759.96
10  101913.08       110594.11        229160.95      1  146121.95
11  100671.96        91790.61        249744.55      0  144259.40
12   93863.75       127320.38        249839.44      1  141585.52
13   91992.39       135495.07        252664.93      0  134307.35
14  119943.24       156547.42        256512.92      1  132602.65
15  114523.61       122616.84        261776.23      2  129917.04
16   78013.11       121597.55        264346.06      0  126992.93
17   94657.16       145077.58        282574.31      2  125370.37
18   91749.16       114175.79        294919.57      1  124266.90
19   86419.70       153514.11        273899.57      2  122776.86
20   76253.86       113867.30        298664.47      0  118474.03

In [19]:
dfle

    R&D_Spend  Administration  Marketing_Spend  State     Profit
0   165349.20       136897.80        471784.10      2  192261.83
1   162597.70       151377.59        443898.53      0  191792.06
2   153441.51       101145.55        407934.54      1  191050.39
3   144372.41       118671.85        383199.62      2  182901.99
4   142107.34        91391.77        366168.42      1  166187.94
5   131876.90        99814.71        362861.36      2  156991.12
6   134615.46       147198.87        278716.82      0  156122.51
7   130298.13       145530.06        323876.68      1  155752.60
8   120542.52       148718.95        311613.29      2  152211.77
9   123334.88       108679.17        304981.62      0  149759.96
10  101913.08       110594.11        229160.95      1  146121.95
11  100671.96        91790.61        249744.55      0  144259.40
12   93863.75       127320.38        249839.44      1  141585.52
13   91992.39       135495.07        252664.93      0  134307.35
14  119943.24       156547.42        256512.92      1  132602.65
15  114523.61       122616.84        261776.23      2  129917.04
16   78013.11       121597.55        264346.06      0  126992.93
17   94657.16       145077.58        282574.31      2  125370.37
18   91749.16       114175.79        294919.57      1  124266.90
19   86419.70       153514.11        273899.57      2  122776.86
20   76253.86       113867.30        298664.47      0  118474.03

In [26]:
x = dfle.loc[:, dfle.columns != 'Profit'].values

y = dfle.loc[:, dfle.columns == 'Profit'].values

x

array([[1.6534920e+05, 1.3689780e+05, 4.7178410e+05, 2.0000000e+00],
       [1.6259770e+05, 1.5137759e+05, 4.4389853e+05, 0.0000000e+00],
       [1.5344151e+05, 1.0114555e+05, 4.0793454e+05, 1.0000000e+00],
       [1.4437241e+05, 1.1867185e+05, 3.8319962e+05, 2.0000000e+00],
       [1.4210734e+05, 9.1391770e+04, 3.6616842e+05, 1.0000000e+00],
       [1.3187690e+05, 9.9814710e+04, 3.6286136e+05, 2.0000000e+00],
       [1.3461546e+05, 1.4719887e+05, 2.7871682e+05, 0.0000000e+00],
       [1.3029813e+05, 1.4553006e+05, 3.2387668e+05, 1.0000000e+00],
       [1.2054252e+05, 1.4871895e+05, 3.1161329e+05, 2.0000000e+00],
       [1.2333488e+05, 1.0867917e+05, 3.0498162e+05, 0.0000000e+00],
       [1.0191308e+05, 1.1059411e+05, 2.2916095e+05, 1.0000000e+00],
       [1.0067196e+05, 9.1790610e+04, 2.4974455e+05, 0.0000000e+00],
       [9.3863750e+04, 1.2732038e+05, 2.4983944e+05, 1.0000000e+00],
       [9.1992390e+04, 1.3549507e+05, 2.5266493e+05, 0.0000000e+00],
       [1.1994324e+05, 1.5654742e+05, 2.5651292e+05, 1.0000000e+00],
       [1.1452361e+05, 1.2261684e+05, 2.6177623e+05, 2.0000000e+00],
       [7.8013110e+04, 1.2159755e+05, 2.6434606e+05, 0.0000000e+00],
       [9.4657160e+04, 1.4507758e+05, 2.8257431e+05, 2.0000000e+00],
       [9.1749160e+04, 1.1417579e+05, 2.9491957e+05, 1.0000000e+00],
       [8.6419700e+04, 1.5351411e+05, 2.7389957e+05, 2.0000000e+00],
       [7.6253860e+04, 1.1386730e+05, 2.9866447e+05, 0.0000000e+00]])

In [27]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(categorical_features= [3])

In [29]:
x = ohe.fit_transform(x).toarray()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [34]:
x = x[:, 1:]

x

array([[1.0000000e+00, 1.6534920e+05, 1.3689780e+05, 4.7178410e+05],
       [0.0000000e+00, 1.6259770e+05, 1.5137759e+05, 4.4389853e+05],
       [0.0000000e+00, 1.5344151e+05, 1.0114555e+05, 4.0793454e+05],
       [1.0000000e+00, 1.4437241e+05, 1.1867185e+05, 3.8319962e+05],
       [0.0000000e+00, 1.4210734e+05, 9.1391770e+04, 3.6616842e+05],
       [1.0000000e+00, 1.3187690e+05, 9.9814710e+04, 3.6286136e+05],
       [0.0000000e+00, 1.3461546e+05, 1.4719887e+05, 2.7871682e+05],
       [0.0000000e+00, 1.3029813e+05, 1.4553006e+05, 3.2387668e+05],
       [1.0000000e+00, 1.2054252e+05, 1.4871895e+05, 3.1161329e+05],
       [0.0000000e+00, 1.2333488e+05, 1.0867917e+05, 3.0498162e+05],
       [0.0000000e+00, 1.0191308e+05, 1.1059411e+05, 2.2916095e+05],
       [0.0000000e+00, 1.0067196e+05, 9.1790610e+04, 2.4974455e+05],
       [0.0000000e+00, 9.3863750e+04, 1.2732038e+05, 2.4983944e+05],
       [0.0000000e+00, 9.1992390e+04, 1.3549507e+05, 2.5266493e+05],
       [0.0000000e+00, 1.1994324e+05, 1.5654742e+05, 2.5651292e+05],
       [1.0000000e+00, 1.1452361e+05, 1.2261684e+05, 2.6177623e+05],
       [0.0000000e+00, 7.8013110e+04, 1.2159755e+05, 2.6434606e+05],
       [1.0000000e+00, 9.4657160e+04, 1.4507758e+05, 2.8257431e+05],
       [0.0000000e+00, 9.1749160e+04, 1.1417579e+05, 2.9491957e+05],
       [1.0000000e+00, 8.6419700e+04, 1.5351411e+05, 2.7389957e+05],
       [0.0000000e+00, 7.6253860e+04, 1.1386730e+05, 2.9866447e+05]])

In [38]:
xTrain, xTest, yTrain, yTest = train_test_split(x,y, test_size = 0.3, random_state = 0)

In [39]:
linearRegressor = LinearRegression()

In [40]:
linearRegressor.fit(xTrain,yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [42]:
yPredict = linearRegressor.predict(xTest)

In [43]:
from sklearn.metrics import r2_score

print(r2_score(yTest,yPredict))

0.7626311627332755

# Using Imputer to fill NaN data

In [63]:
i = pd.read_csv("D:/Study/Data _Science/LinearRegression/imputer.csv")

i.shape

(77, 4)

In [65]:
i = i.values

In [66]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values= np.nan, strategy= 'mean')

z = imputer.fit_transform(i)

array([[165349.2    , 136897.8    , 471784.1    , 192261.83   ],
       [162597.7    , 151377.59   , 443898.53   , 191792.06   ],
       [153441.51   , 101145.55   , 407934.54   , 191050.39   ],
       [144372.41   , 118671.85   , 383199.62   , 182901.99   ],
       [142107.34   ,  91391.77   , 366168.42   , 166187.94   ],
       [131876.9    ,  99814.71   , 362861.36   , 156991.12   ],
       [134615.46   , 147198.87   , 127716.82   , 156122.51   ],
       [130298.13   , 145530.06   , 323876.68   , 155752.6    ],
       [120542.52   , 148718.95   , 311613.29   , 152211.77   ],
       [123334.88   , 108679.17   , 304981.62   , 149759.96   ],
       [101913.08   , 110594.11   , 229160.95   , 146121.95   ],
       [100671.96   ,  91790.61   , 249744.55   , 144259.4    ],
       [ 93863.75   , 127320.38   , 249839.44   , 141585.52   ],
       [ 91992.39   , 135495.07   , 252664.93   , 134307.35   ],
       [119943.24   , 156547.42   , 256512.92   , 132602.65   ],
       [114523.61   , 122616.84   , 261776.23   , 129917.04   ],
       [ 78013.11   , 121597.55   , 264346.06   , 126992.93   ],
       [ 94657.16   , 145077.58   , 282574.31   , 125370.37   ],
       [ 91749.16   , 114175.79   , 294919.57   , 124266.9    ],
       [ 86419.7    , 153514.11   ,      0.     , 122776.86   ],
       [ 76253.86   , 113867.3    , 298664.47   , 118474.03   ],
       [ 78389.47   , 153773.43   , 299737.29   , 111313.02   ],
       [ 73994.56   , 122782.75   , 303319.26   , 110352.25   ],
       [ 67532.53   , 105751.03   , 304768.73   , 108733.99   ],
       [ 77044.01   ,  99281.34   , 140574.81   , 108552.04   ],
       [ 64664.71   , 139553.16   , 137962.62   , 107404.34   ],
       [ 75328.87   , 144135.98   , 134050.07   , 105733.54   ],
       [ 72107.6    , 127864.55   , 353183.81   , 105008.31   ],
       [ 66051.52   , 182645.56   , 118148.2    , 103282.38   ],
       [ 65605.48   , 153032.06   , 107138.38   , 101004.64   ],
       [ 61994.48   , 115641.28   ,  91131.24   ,  99937.59   ],
       [ 61136.38   , 152701.92   ,  88218.23   ,  97483.56   ],
       [ 63408.86   , 129219.61   ,  46085.25   ,  97427.84   ],
       [ 55493.95   , 103057.49   , 214634.81   ,  96778.92   ],
       [ 46426.07   , 157693.92   , 210797.67   ,  96712.8    ],
       [ 46014.02   ,  85047.44   , 205517.64   ,  96479.51   ],
       [ 28663.76   , 127056.21   , 201126.82   ,  90708.19   ],
       [ 44069.95   ,  51283.14   , 197029.42   ,  89949.14   ],
       [ 20229.59   ,  65947.93   , 185265.1    ,  81229.06   ],
       [ 38558.51   ,  82982.09   , 174999.3    ,  81005.76   ],
       [ 28754.33   , 118546.05   , 172795.67   ,  78239.91   ],
       [ 27892.92   ,  84710.77   , 164470.71   ,  77798.83   ],
       [ 23640.93   ,  96189.63   , 148001.11   ,  71498.49   ],
       [ 15505.73   , 127382.3    ,  35534.17   ,  69758.98   ],
       [ 22177.74   , 154806.14   ,  28334.72   ,  65200.33   ],
       [  1000.23   , 124153.04   ,   1903.93   ,  64926.08   ],
       [  1315.46   , 115816.21   , 297114.46   ,  49490.75   ],
       [     0.     , 135426.92   ,      0.     ,  42559.73   ],
       [   542.05   ,  51743.15   ,      0.     ,  35673.41   ],
       [     0.     , 116983.8    ,  45173.06   ,  14681.4    ],
       [ 87151.     , 123327.9523 , 236937.1317 , 123485.2464 ],
       [ 38772.     , 116183.1212 , 143589.7191 ,  82155.48418],
       [ 89939.     , 123739.6968 , 242316.5853 , 125867.0108 ],
       [ 65485.     , 120128.2187 , 195132.5255 , 104976.1696 ],
       [ 47724.     , 117505.1933 , 160862.6275 ,  89803.10053],
       [ 30744.     , 114997.5096 , 128099.6711 ,  75297.23305],
       [ 76381.     , 121737.3896 , 216156.3873 , 114284.5283 ],
       [143923.     , 131712.2998 , 346478.8607 , 171985.0761 ],
       [ 27280.     , 114485.9303 , 121415.8737 ,  72337.96774],
       [141092.     , 131294.2049 , 341016.4385 , 169566.5772 ],
       [128338.     , 129410.636  , 316407.5606 , 158670.9451 ],
       [ 76660.     , 121778.5936 , 216694.7185 , 114522.8756 ],
       [ 43088.     , 116820.5277 , 151917.4528 ,  85842.60573],
       [ 60955.     , 119459.2077 , 186391.8781 , 101106.2297 ],
       [ 12052.     , 112236.9898 ,  92033.40609,  59328.81874],
       [126549.     , 129146.4284 , 312955.6803 , 157142.6178 ],
       [ 22986.     , 113851.7728 , 113130.5889 ,  68669.64059],
       [150633.     , 132703.2632 , 359425.824  , 177717.3712 ],
       [ 53116.     , 118301.5084 , 171266.5062 ,  94409.4396 ],
       [157923.     , 133779.8836 , 373491.8989 , 183945.1553 ],
       [ 39157.     , 116239.9797 , 144332.5776 ,  82484.38635],
       [111768.     , 126963.503  , 284435.7004 , 144515.3371 ],
       [ 65903.     , 120189.9508 , 195939.0576 , 105333.2634 ],
       [ 85800.     , 123128.4304 , 234330.3735 , 122331.0988 ],
       [139796.     , 131102.8057 , 338515.8029 , 168459.4156 ],
       [ 13947.     , 112516.8521 ,  95689.81377,  60947.70089],
       [133094.     , 130113.0238 , 325584.2756 , 162733.9549 ]])